.profile-creation-container{
  
    margin:5% auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}


  
.nav-item-1{
        background-color:#ED3B82;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    /* ProfilePage.css */

/* Your existing styles */

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .profile-creation-container {
      padding: 20px;
    }
  
    .profile-form {
      width: 100%;
      max-width: 400px; /* Adjust the maximum width as needed */
    }
  
    .img-display-before,
    .img-display-after {
      width: 100px; /* Adjust the avatar image size for smaller screens */
      height: 100px;
      margin-right: 0; /* Remove right margin to center the image */
      margin-bottom: 20px; /* Add some bottom margin for spacing */
    }
  }
  
  /* Additional media queries for smaller screens if needed */
  @media screen and (max-width: 480px) {
    .profile-form {
      max-width: 300px;
      /* Adjust the maximum width for even smaller screens */
    }
    .profile-creation-container {
        padding: 20px;
      }
    
      .profile-form {
        width: 60%;
        max-width: 400px; /* Adjust the maximum width as needed */
      }
    
      .img-display-before,
      .img-display-after {
        width: 30px; /* Adjust the avatar image size for smaller screens */
        height: 30px;
        margin-left:130px; /* Remove right margin to center the image */
        margin-bottom: 20px; /* Add some bottom margin for spacing */
        padding:10px;
      }
  }
  